//цвета
$primary-color:rgb(123, 192, 177); 
$secondary-color:rgb(243, 238, 228);
$dark-color: #357665;
$light-color: #f8faf9;
$medium-color: rgb(196, 220, 208);


// Текст
$text-primary: #212529;
$text-secondary: #6c757d;
$text-light: #f8f9fa;
$text-dark: #343a40;

//приоритеты
$priority-low-light:rgb(235, 252, 236);
$priority-low:rgb(137, 247, 140);
$priority-medium-light:rgb(249, 247, 230);
$priority-medium:rgb(250, 235, 152);
$priority-hidh-light:rgb(251, 233, 232);
$priority-high:rgb(251, 152, 147);