.sidebar{
  display: flex;
  flex-direction: column;
  background-color: rgb(160 211 201);
  padding: 5px 20px;
  .logo{
    cursor: default;
  }
  .list{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
  }
}