@import '../../styles/main.scss';

.screen{
display: flex;
flex-direction: row;
padding: 25px;
gap: 25px;

.box1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .photo{
    width: 150px;
    height: 150px;
    font-size: 32px;
    letter-spacing: 4px;
  }
}

.box2{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px; 
  gap: 15px;
  .grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
  
  .password{
    color: $text-secondary;
    border-color: $text-secondary;
  }
}
  .save{
   background-color: $primary-color;
  }
}

}